<div class="main post-new">
  <%= render partial: 'sidebar' %>
  <div class="container">
    <h2>環境設定</h2>

    <%= form_for @user, :url => {:action => 'update'}, :html => {:class => 'form'} do |f| %>
      <div class="form-body">
        <div class="field">
          <%= f.label :タイマーの選択時間 %>
          <%= f.select :default_time, [["5", "5"],
                                      ["10", "10"],
                                      ["15", "15"],
                                      ["20", "20"],
                                      ["25", "25"],
                                      ["30", "30"],
                                      ["35", "35"],
                                      ["40", "40"],
                                      ["45", "45"],
                                      ["50", "50"],
                                      ["55", "55"]],{},
                                      { :name => "default_time",
                                        :id => "select_time"} %>
        </div>

        <div class="field">
          <div>
            <%= f.label :投稿時のツイート連携を選択された状態にする %><br />
            <i>(新規投稿画面でもオンオフができます)</i>
          </div>
          <div class="form_submit">
            <div class="switchArea" style="margin: 0;">
              <%= f.check_box :allow_linked_tweet, {:checked => @user.allow_linked_tweet, :name => "allow_linked_tweet", :id => "switch1"} %>
              <label for="switch1"><span></span></label>
              <div class="swImg"></div>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新" %>
        </div>

        <div class="link-to-leave"><%= link_to("ORTを退会する","/contact") %></div>
      </div>
    <% end %>
  </div>
</div>