<div class="main posts-index">
<%= render partial: 'userinfo' %>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-info">
        <% post.tag_list.each do |tag| %>
          <% id = ActsAsTaggableOn::Tag.find_by(name: tag) %>
          <div class="tags">
            <%= link_to(tag,"/tags/#{id.id}") %>
          </div>
        <% end %>
        <div class="running-time">
          <p><%= post.running_time %> 分</p>
        </div>
      </div>
      <div class="posts-index-item">
        <%= simple_format(post.content) %>
        <nav class="post-submenus">
          <ul>
            <li><%= link_to("詳細を見る","/posts/#{post.id}") %></li>
            <li><%= link_to("投稿の編集", "/posts/#{post.id}/edit") %></li>
            <li><%= link_to("投稿の削除", "/posts/#{post.id}/destroy", {method: "post"}) %></li>
          </ul>
        </nav>
        <div class="post-submenus-btn">
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
