<!-- modal -->
  <div class="timer-wrapper <%= @display_none %>" id="timer-modal">
  <div class="timer-container">
    <div class="message-set">
      <p>時間をセットしてください。</p>
    </div>
    <div class="timer-header">
      <h2 class="form-title timer-title">Timer</h2>
      <div class="close-modal"><i class="fa fa-times"></i></div>
    </div>
    <div class="timer-controls">
      <div class="controls">

        <%= select :pomodoro,
                   :min,
                   [["1分", "1"],
                    ["5分", "5"],
                    ["10分", "10"],
                    ["15分", "15"],
                    ["20分", "20"],
                    ["25分", "25"],
                    ["30分", "30"],
                    ["35分", "35"],
                    ["40分", "40"],
                    ["45分", "45"],
                    ["50分", "50"],
                    ["55分", "55"]],

                    {:selected => "25"},

                    {:name => "minutes",
                     :class => "pomodoro-minutes",
                     :id => "min"}  %>

        <div id="set">Set</div>
      </div>
      <div class="maintimer" id="timer">00:00</div>
      <div class="controls">
        <div id="reset">Reset</div>
        <div id="start">Start</div>
      </div>
    </div>
  </div>
</div>

<div class="main posts-new">
  <%= render partial: 'userinfo' %>
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag "/posts/create" do %>
      <div class="form">
        <div class="form-body">

          <!-- エラーメッセージ -->
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error"><%= message %></div>
          <% end %>

          <div class="select-menu">
            <h2 class="form-title">Time</h2>
            <%= select :running_time,
                       :min, [["5", "5"],
                              ["10", "10"],
                              ["15", "15"],
                              ["20", "20"],
                              ["25", "25"],
                              ["30", "30"],
                              ["35", "35"],
                              ["40", "40"],
                              ["45", "45"],
                              ["50", "50"],
                              ["55", "55"]], {},

                             {:name => "running_time",
                              :id => "select_time"} %>

            <p>分</p>
          </div>

          <div class='field'>
            <label for="tag_list" class="form-title">Tags</label>
            <% if params[:id] %>
              <% tag = ActsAsTaggableOn::Tag.find_by(id: params[:id]) %>
              <input type="text" name="tag_list" id="tag_list" value="<%= tag.name %>">
            <% else %>
              <input type="text" name="tag_list" id="tag_list" value="" placeholder="タグをカンマ区切りで入力">
            <% end %>
          </div>
          <h2 class="form-title">Contents</h2>
          <textarea name="content"><%= @post.content %></textarea>
          <div class="form_submit">
            <i class="fab fa-twitter"></i>
            <div class="switchArea">
              <input type="checkbox" id="switch1" name="tweet_toggle" value="true" checked>
              <label for="switch1"><span></span></label>
              <div class="swImg"></div>
            </div>
            <input type="submit" value="投稿">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
