# TODO: モーダルはpartialに
<!-- modal -->
  <div class="timer-wrapper <%= @display_none %>" id="timer-modal">
  <div class="timer-container">
    <div class="message-set">
      <p>時間をセットしてください。</p>
    </div>
    <div class="timer-header">
      <h2 class="form-title timer-title">Timer</h2>
      <div class="close-modal"><i class="fa fa-times"></i></div>
    </div>
    <div class="timer-controls">
      <div class="controls">

        <%= select :pomodoro,
                   :min,
                    mins_array, #ヘルパーメソッド keyとvalueの配列
                    {:selected => "#{@default_time}"}, # ユーザーの設定でdefault_timeを変えられる 初期値は25
                    {:name => "minutes",
                     :class => "pomodoro-minutes",
                     :id => "min"}  %>

        <div id="set">Set</div>
      </div>
      <div class="maintimer" id="timer">00:00</div>
      <div class="controls">
        <div id="reset">Reset</div>
        <div id="start">Start</div>
      </div>
    </div>
  </div>
</div>

<div class="main posts-new">
  <%= render partial: 'userinfo' %>
  <div class="container">
    <h1 class="form-heading">投稿する</h1>

    # TODO: form_withに 
    <%= form_tag "/posts/create" do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %><!-- エラーメッセージ -->
            <div class="form-error"><%= message %></div>
          <% end %>
          <div class="select-menu">
            <h2 class="form-title">Time</h2>
            <%= select :running_time,
                       :min, 
                        mins_array, 
                        {},
                        {:name => "running_time", :id => "select_time"} %>
            <p>分</p>
          </div>
          <div class='field'>
            <label for="tag_list" class="form-title">Tags</label>
            <input type="text" name="tag_list" id="tag_list" value="" placeholder="タグをカンマ区切りで入力">
          </div>
          <h2 class="form-title">Contents</h2>
          <textarea name="content"><%= @post.content %></textarea>
          <div class="form_submit">
            <i class="fab fa-twitter"></i>
            <div class="switchArea">
              <% if @allow_linked_tweet == true %>
                <input type="checkbox" id="switch1" name="tweet_toggle" value="true" checked>
              <% else %>
                <input type="checkbox" id="switch1" name="tweet_toggle" value="true">
              <% end %>
              <label for="switch1"><span></span></label>
              <div class="swImg"></div>
            </div>
            <input type="submit" value="投稿">
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
