<div class="main posts-show">
  <div class="container">
    <div class="running-time">
      <p><%= @post.running_time %> 分</p>
    </div>
    <div class="posts-show-item">
      <%= simple_format(@post.content) %>
      <div class="post-time">
        <%= @post.created_at.strftime('%Y/%m/%d %T') %>
      </div>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>
