<header>
  <div class="header-logo">

    <!-- ログインしている場合はマイページに、していなければaboutページに -->
    <% if user_signed_in? %>
      <%= link_to("ORT.","/users/mypage") %>
    <% else %>
      <%= link_to("ORT.","/") %>
    <% end %>

  </div>

  <!-- ログインしている場合のみタイマーボタンを表示 -->
  <% if user_signed_in? %>
    <div class="header-start-icon">
      <a href="/posts/new"><i class="fas fa-stopwatch"></i></a>
    </div>
  <% end %>

  <!-- ログインしているか否かで表示するナビゲーションメニューを変える -->
  <% if user_signed_in? %>
    <ul class="header-menus">
      <li>
        <%= link_to("投稿一覧","/users/mypage") %>
      </li>
      <li>
        <%= link_to("ログアウト", destroy_user_session_path, method: :delete ) %>
      </li>
    </ul>
  <% else %>
      <div class="login">
        <a href="/users/auth/twitter"><i class="fab fa-twitter"></i>登録/ログイン</a>
      </div>
  <% end %>

  <!-- ログインしている場合のみスマホ用サイドメニューボタンを表示する -->
  <% if user_signed_in? %>
    <div class="sma-btn" id="js__MenuBtn"><i class="fas fa-bars"></i></div>
  <% end %>
</header>

<!-- フラッシュ -->
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

