<div class="user-info" style="display:none">
  <a href="/users/mypage"><h2><%= current_user.name %></h2></a>
  <div class="user-info-item">
    <p class="item-name">累計時間</p>
    <p>：<%= @posts_hour %>時間<%= @posts_min %>分</p>
  </div>
  <div class="user-info-item">
    <p class="item-name">投稿</p>
    <p>：<%= @posts.count %>件</p>
  </div>
  <h3>タグ</h3>
  <% @all_tags.each do |tag| %>
    <% @tags = User.find_by(id: current_user.id).posts.tagged_with(tag) %>
    <% unless @tags.count === 0 then %>
      <a href="/tags/<%= tag.id %>"><%= tag.name %> (<%= @tags.count %>)</a><br>
    <% end %>
  <% end %>
  <div class="sidebar-links">
    <%= link_to("環境設定", "/users/edit") %>
    <%= link_to("お問い合わせ", "/contact") %>
    <%= link_to("ログアウト", destroy_user_session_path, method: :delete) %>
  </div>
</div>
