<!DOCTYPE html>
<html>
  <head>
    <title>ORT.</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("ORT.","/") %>
      </div>
      <% if user_signed_in? %>
        <div class="header-start-icon">
          <a href="/posts/new"><i class="fas fa-stopwatch"></i></a>
        </div>
      <% end %>
        <ul class="header-menus">
          <% if user_signed_in? %>
          <li>
            <p><%= current_user.name %></p>
          </li>
          <li>
            <%= link_to("投稿一覧","/users/mypage") %>
          </li>
          <li>
            <%= link_to("ログアウト", destroy_user_session_path, method: :delete ) %>
          </li>
        <% else %>
          <li >
            <a href="/users/auth/twitter"><i class="fab fa-twitter"></i>登録/ログイン</a>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
