<!DOCTYPE html>
<html>
  <head>
    <title>ORT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <div class="header-logo">
    <%= link_to("ORT.","/") %>
  </div>
  <!-- <div class="header-start-icon">
    <%= link_to(fa_icon("stopwatch"),"#") %>
  </div> -->
  <ul class="header-menus">
    <li>
      <%= link_to("ORT.とは","/about") %>
    </li>
    <li>
      <%= link_to("投稿一覧","/posts/index") %>
    </li>
  </ul>
</header>
    <%= yield %>
  </body>
</html>
