<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117991188-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117991188-1');
    </script>
    <title>ORT.</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="google-site-verification" content="WL2zFS_nt7PiJkGqU48r6ZPn5acS8u-QwPlA6jvAX3o" />
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if user_signed_in? %>
          <%= link_to("ORT.","/users/mypage") %>
        <% else %>
          <%= link_to("ORT.","/") %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="header-start-icon">
          <a href="/posts/new"><i class="fas fa-stopwatch"></i></a>
        </div>
      <% end %>
        <ul class="header-menus">
          <% if user_signed_in? %>
          <li>
            <%= link_to("投稿一覧","/users/mypage") %>
          </li>
          <li>
            <%= link_to("ログアウト", destroy_user_session_path, method: :delete ) %>
          </li>
        <% else %>
          <li >
            <a href="/users/auth/twitter"><i class="fab fa-twitter"></i>登録/ログイン</a>
          </li>
        <% end %>
      </ul>
      <div class="sma-btn" id="js__MenuBtn"><i class="fas fa-bars"></i></div>
    </header>

    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
