<!DOCTYPE html>
<html>
  <head>
    <title>ORT.</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("ORT.","/") %>
      </div>
      <div class="header-start-icon">
        <a href="/posts/new"><i class="fas fa-stopwatch"></i></a>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("ORT.とは","/about") %>
        </li>
        <li>
          <%= link_to("投稿一覧","/posts/index") %>
        </li>
      </ul>
    </header>

    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
